TOKEN_PLAN_API_KEY=
TOKEN_PLAN_BASE_URL=https://api.moonshot.cn/v1
TOKEN_PLAN_MODEL=kimi-k2.6
TOKEN_PLAN_THINKING=disabled
TOKEN_PLAN_DEEP_THINKING=enabled
TOKEN_PLAN_DEEP_MAX_TOKENS=6000
TOKEN_PLAN_DEEP_FALLBACK_MAX_TOKENS=1600
TOKEN_PLAN_DEEP_THINKING_TIMEOUT_MS=9000
PORT=4188

AZURE_OPENAI_IMAGE_ENDPOINT=
AZURE_OPENAI_IMAGE_API_KEY=
AZURE_OPENAI_IMAGE_DEPLOYMENT=gpt-image-2
AZURE_OPENAI_IMAGE_API_VERSION=2025-04-01-preview
AZURE_OPENAI_IMAGE_SIZE=1536x1024
AZURE_OPENAI_IMAGE_QUALITY=medium
AZURE_OPENAI_IMAGE_FORMAT=png
